---
title: home
home: true
uses_img_header: true 
file_prefix: .
header_file: hellhole.gif
---
<marquee behavior="scroll" direction="right"><img src="{% link /resources/images/site/welcome3.gif %}"></marquee>
<div class="welcomebox">
  <img src="{% link /resources/images/bluscrn.gif %}">
  <img class="bluscrnwrap" src="{% link /resources/images/tv_gray.gif %}">
  <img src="{% link /resources/images/bluscrn.gif %}">
  <h4 class="dajiahao">大家好！！</h4>
  <h4>welcome to my home on the world-wide web!</h4>
  <p>here you'll find a general collection of random stuff i make or write or enjoy or find nostalgic</p>
  <p>click any of the navigation buttons to be taken to some of my pages!</p>
  <h4>--*-*-*-*--</h4>
  <img class="dance" src="{% link /resources/images/frogdance.gif %}">
  <h4>--*-*-*-*--</h4>
  <p>today's mood: <a href="https://www.imood.com/users/olicauli"><img src="https://moods.imood.com/display/uname-olicauli/fg-FF69B4/trans-1/imood.gif" 
  alt="The current mood of olicauli at www.imood.com" border="0"></a></p>
  <p>today's weather: <span>code!</span></p>    
  <a href="https://www.youtube.com/watch?v=mdaM8BoQmPE">today's theme</a>
</div>
      
{% include message-box.html %}

<h4>--*-*-*-*--</h4>
{% include update-log.html %}