<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.home %}
    <title>olis hellhole</title>
    {% elsif page.enter %}
    <title>hellhole entry!!</title>
    {% else %}
    <title>olis hellhole | {{ page.title }}</title>
    {% endif %}
    
    <link rel="icon" type="image/png" sizes="32x32" href="{% link /favicon-32x32.png %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% link /favicon-16x16.png %}">

    <link href="{% link resources/css/main.css %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% link resources/css/home.css %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% link resources/css/icons.css %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% link resources/css/animations.css %}" rel="stylesheet" type="text/css" media="all">
    {% if page.includes_scripts %}
        <link href="{% link resources/css/scripts.css %}" rel="stylesheet" type="text/css" media="all">
        <script src="{% link resources/scripts/main.js %}"></script>
    {% endif %}
</head>