---
title: journal
layout: default
file_prefix: ..
header_file: blank
header_text: JOURNAL
includes_scripts: true
---

<img src="{% link assets/images/Animated-desk-lamp-on-book-goes-off-gif-animation.gif %}">
<h4 style="color:HotPink;"> hello! </h4>
<p>welcome to my journal! i likely won't update super often, but every now and then i'll add an entry.
   this will mostly be a space to kind of catalogue my feelings and talk about my current interests.</p>
   <h4>--*-*-*-*--</h4>
<div id="blognav">
    {% for post in site.posts %}
        {% if post.new %}
        <h4 class="newwrap collapsible">{{ post.date | date: "%Y年%m月%d日" }}</h4>
        {% else %}
        <h4 class="collapsible">{{ post.date | date: "%Y年%m月%d日" }}</h4>
        {% endif %}
        
        <div class="collapse_content">
            {{ post.content }}
        </div>
    {% endfor %}
    <h4>--*-*-*-*--</h4>
</div>