/*written by olicauli*/
body {
  background-color: black;
  background-image: url("../images/site/blackgranite.gif");
  text-align: center;
  color: white;
}


a:link {
  color: red;
}

a:hover {
  color: Gold;
}

a:visited {
  color: DarkRed;
}

a:active {
  color: GoldenRod;
}