/*written by olicauli*/
/*this css is for:*/
/*commonly reused images, gifs, images*/
/*that should be placed before and after text,*/
/*etc*/

/*HEADER ICONS*/
.aboutnav {
	content: url("../images/buttons/aboutproto.gif");
}

.blogsnav {
	content: url("../images/buttons/blogsproto.gif");
}
.contactnav {
	content: url("../images/buttons/contactproto.gif");
}

.enterbutton {
	margin-top: 40px;
	content: url("../images/buttons/enter.gif");
	width:250px;
}

.headerfrogs {
	content: url("../images/graphics-frogs-557168.gif");
}
.homenav {
	content: url("../images/buttons/homeproto4.gif");
}

.neighbors {
	content: url('../images/buttons/neighbors.gif');
}

.projectsnav {
	content: url("../images/buttons/projectsproto.gif");
}

/*EMD OF HEADER ICONS*/

/*DIVIDERS*/
.greenline {
	content: url(../images/site/greenline.png);
}

.linksdivider {
	content: url(../images/A_14links.gif);
}
/*END OF DIVIDERS*/

.books::after
{
	content: url("../images/Simple_book.gif");
	margin-left: 10px;
}
.books::before
{
	content: url("../images/Simple_book.gif");
	margin-right: 10px;
}

.frogbounce {
	content: url("../images/frogbounce.gif");
}

.frogs::after
{
	content: url("../images/frogbounce.gif");
	margin-left: 5px;
}
.frogs::before
{
	content: url("../images/frogbounce.gif");
	margin-right: 5px;
}
.new {
	content: url("../images/new.gif");
}
.newwrap::after
{
	content: url("../images/new.gif");
	margin-left: 10px;
}
.newwrap::before
{
	content: url("../images/new.gif");
	margin-right: 10px;
}

.sparkles {
	content: url("../images/sparkles.gif");
}

.sparkleswrap::after {
	content: url("../images/sparkles.gif");
	margin-left: 5px;
}
.sparkleswrap::before {
	content: url("../images/sparkles.gif");
	margin-right: 5px;
}