/*this css is for:*/
/*header, footer, and other main elements*/ 
/*to be used throughout the entire site.*/

#footer
{
	margin-left: auto;
	margin-right: auto;
}

#footer p
{
	font-size: smaller;
}

#header h1
{
	font-size: 4em;
	line-height: 0px;
}

.centerbox
{
	display: inline-block;
	height: 400px;
	left: 100%;
	margin: 25px 10px 0px 0px;
	text-align: center;
	width: 250px;
}

.centerbox span
{
	color: HotPink;
}

.main_content
{
	display: inline-block;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	width: 881px;
}

.small
{
	font-size: smaller;
}

.warning
{
	color: red;
}

a:active
{
	color: GoldenRod;
}

a:hover
{
	color: Gold;
}

a:link
{
	color: HotPink;
}

a:visited
{
	color: IndianRed;
}

body
{
	background-color: black;
	background-image: url('../images/site/animatedstars.gif');
	color: DarkSeaGreen;
	font-family: Courier, Arial;
	text-align: center;
}

h1
{
	color: Yellow;
}

h4
{
	color: Gold;
}

li
{
	color: Gold;
}

nav
{
	margin-bottom: 10px;
	position: sticky;
}

span {
  color: HotPink;
}