#dajiahao
{
	color: HotPink;
	margin-left: 20px;
}
#footer
{
	margin-left: auto;
	margin-right: auto;
}
#footer p
{
	font-size: smaller;
}
#header h1
{
	font-size: 4em;
	line-height: 0px;
}
.blogentry .date
{
	color: HotPink;
}
.blogentry h4
{
	color: HotPink;
}
.blognav li
{
	list-style-type: none;
	padding-left: 0px;
	text-align: center;
}
.blognav ul li
{
	display: inline;
}
.books::after
{
	content: url("../images/Simple_book.gif");
	margin-left: 10px;
}
.books::before
{
	content: url("../images/Simple_book.gif");
	margin-right: 10px;
}
.button:active
{
	transform: rotate(10deg) translateY(5px);
}
.button:hover
{
	transform: rotate(10deg);
}
.centerbox
{
	display: inline-block;
	height: 400px;
	left: 100%;
	margin: 25px 10px 0px 0px;
	text-align: center;
	width: 250px;
}
.centerbox span
{
	color: HotPink;
}
.dance
{
	animation: shake 1s;
	animation-iteration-count: infinite;
}
.frogs::after
{
	content: url("../images/frogbounce.gif");
	margin-left: 5px;
}
.frogs::before
{
	content: url("../images/frogbounce.gif");
	margin-right: 5px;
}
.main_content
{
	display: inline-block;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	width: 881px;
}
.messagebox h4
{
	color: HotPink;
}
.new::after
{
	content: url("../images/new.gif");
	margin-left: 10px;
}
.new::before
{
	content: url("../images/new.gif");
	margin-right: 10px;
}
.shake
{
	animation: shake 0.2s;
	animation-iteration-count: infinite;
}
.shakeh:hover
{
	animation: shake 0.2s;
	animation-iteration-count: infinite;
}
.small
{
	font-size: smaller;
}
.updateheader
{
	display: inline-block;
	width: 250px;
}
.updateheader h4
{
	color: HotPink;
}
.updatelog
{
	border: dashed;
	border-width: 1px;
	display: inline-block;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-top: 0px;
	width: 190px;
}
.updatelog h4
{
	color: Gold;
	font-size: smaller;
	line-height: 20%;
	text-align: center;
}
.updatelog h5
{
	color: Gold;
	font-size: smaller;
	line-height: 20%;
	text-align: center;
}
.updatelog li
{
	color: HotPink;
	font-size: smaller;
	line-height: 80%;
	text-align: left;
}
.updatelog p
{
	color: DarkSeaGreen;
	font-size: smaller;
	text-align: left;
}
.warning
{
	color: red;
}
.welcomebox
{
	display: inline-block;
	float: left;
	height: 400px;
	left: 100%;
	margin: 25px 10px 100px 100px;
	text-align: center;
	width: 250px;
}

.welcomebox span {
	font-size: smaller;
	color: Gold;
}

/* 
@keyframes shake code is from w3s:
https://www.w3schools.com/howto/howto_css_shake_image.asp
*/

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

a:active
{
	color: GoldenRod;
}
a:hover
{
	color: Gold;
}
a:link
{
	color: HotPink;
}
a:visited
{
	color: IndianRed;
}
body
{
	background-color: black;
	background-image: url('../images/site/animatedstars.gif');
	color: DarkSeaGreen;
	font-family: Courier, Arial;
	text-align: center;
}
h1
{
	color: Yellow;
}
h4
{
	color: Gold;
}
li
{
	color: Gold;
}
nav
{
	margin-bottom: 10px;
	position: sticky;
}

span {
  color: HotPink;
}