:root 
{
	--title-text: #e4fe6c;
	--headers-text: Gold;
	--main-text: DarkSeaGreen;
	--secondary-text: HotPink;
	--links: HotPink;
	--links-active: GoldenRod;
	--links-hover: Gold;
	--links-visited: IndianRed;

	--container-width: 881px;
	--default-border: 1px dashed;
	--default-border-radius: 10px;
}