/*written by olicauli*/
/*this css is for:*/
/*all styling specific to the home page,*/
/*which is currently index.html.*/

@import './constants.css';

.main_content 
{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-auto-flow: row;
    min-height: 0px;
    grid-template: 60px 330px 1fr 130px / 1fr 1fr;
}

.welcome-marquee
{
    grid-row: 1;
    grid-column: 1 / span 2;
}

.welcomebox
{
    grid-row: 2 / span 2;
    grid-column: 1;
}

.messagebox
{
    grid-row: 2;
    grid-column: 2;
}

.updatebox
{
    grid-row: 3;
    grid-column: 2;
}

.updatelog
{
	height: 250px;
	overflow-y: scroll;
	width: 190px;
}
.updatelog h4, .updatelog h5
{
	color: var(--headers-text);
	font-size: smaller;
	line-height: 20%;
	text-align: center;
}

.updatelog li
{
	color: var(--secondary-text);
	font-size: smaller;
	text-align: left;
}

.neighbors-container
{
    padding-top: 30px;
    grid-row: 4;
    grid-column: 1 / span 2;
}

.neighbor-box, .updatelog, .messagebox iframe
{
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

.neighbor-box, .welcomebox {
	width: 250px;
}

.neighbormarquee {
	margin-right: 20px;
}