/*written by olicauli*/
/*this css is for:*/
/*all styling specific to the home page,*/
/*which is currently index.html.*/

@import './constants.css';

.dajiahao
{
	margin-left: 20px;
}
.dajiahao, .messagebox h4, .updateheader h4
{
	color: var(--secondary-text);
}

.updateheader
{
	display: inline-block;
	width: 250px;
}

.updatelog
{
	border: dashed;
	border-width: 1px;
	display: inline-block;
	height: 250px;
	overflow-y: scroll;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-top: 0px;
	width: 190px;
}
.updatelog h4, .updatelog h5
{
	color: var(--headers-text);
	font-size: smaller;
	line-height: 20%;
	text-align: center;
}

.updatelog li
{
	color: var(--secondary-text);
	font-size: smaller;
	text-align: left;
}

/* .updatelog p
{
	color: DarkSeaGreen;
	font-size: smaller;
	text-align: left;
} */

.welcomebox
{
	display: inline-block;
	float: left;
	height: 400px;
	margin: 25px 10px 100px 100px;
	text-align: center;
	width: 250px;
}

.welcomebox span {
	font-size: smaller;
	color: Gold;
}