/*written by olicauli*/
/*this css is for:*/
/*header, footer, and other main elements*/ 
/*to be used throughout the entire site.*/
@import './constants.css';

.grid
{
    display: grid;
    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
    margin: 0 auto;
    justify-content: center;
}

.footer
{
    grid-row: 3;
}

.footer p
{
	font-size: smaller;
}

header
{
    grid-row: 1;
}

header h1
{
	color: var(--title-text);
	font-size: 4em;
	line-height: 0px;
}

.enterbox 
{
	border: 1px dashed;
    margin: 80px auto 30px auto;
    padding: 40px 75px 40px 75px;
	width: 250px;
	text-align: center;
}


.centerbox
{
	margin: 25px auto;
	text-align: center;
    height: auto;
	width: 250px;
}

.centerbox span, a:link, span
{
	color: var(--secondary-text);
}

.centerofpage 
{
	/* overflow-y: hidden; */
	margin-top: 10%;
}

.leftalign 
{
	text-align: left;
}

.leftalign a {
	display: inline;
}

.leftalign a:after 
{
	white-space: pre;
	content:'\a';
}

.main_content
{
    grid-row: 2;
    margin: 0 auto;
	text-align: center;
	width: 881px;
    max-width: 100%;
}

.neighbor-box {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border: dashed;
	border-width: 1px;
}

.neighbormarquee {
	margin-right: 20px;
}

.small
{
	font-size: smaller;
}

a:active
{
	color: var(--links-active);
}

a:hover
{
	color: var(--links-hover);
}

a:visited
{
	color: var(--links-visited);
}

body
{
	background-color: black;
	background-image: url('/assets/images/site/animatedstars.gif');
	color: var(--main-text);
	font-family: Courier, Arial;
	text-align: center;
}

h4, h5
{
	color: var(--headers-text);
}

h1
{
    color: #e4fe6c;
    font-size: 4em;
    line-height: 0px;
}

li
{
	list-style-image: url('/assets/images/star-empty2.gif');
	color: var(--headers-text);
}

nav
{
	margin-bottom: 10px;
}

/*COLORS: so i dont have to do style="color: jkwkngnjka" manually every time*/

.gold
{
	color: gold;
}

.hotpink
{
	color: hotpink;
}
