/*written by olicauli*/
/*this css is for:*/
/*header, footer, and other main elements*/ 
/*to be used throughout the entire site.*/
@import './constants.css';

body *
{
	max-width: 100%;
}

.grid
{
    display: grid;
    grid-template: minmax(0, 1fr) / minmax(0, 1fr);
    justify-content: center;
	justify-items: center;
}

.footer
{
    grid-row: 3;
}

.footer p
{
	font-size: smaller;
}

header
{
    grid-row: 1;
}

.art-music-grid 
{
	display: grid;
	grid-gap: 20px;
	grid-template: 1fr / 60% 40%;
	justify-content: center;
	margin: 0 auto;
	max-width: 90%;
}

.art-music-grid > *
{
	border: var(--default-border);
	border-radius: var(--default-border-radius);
}

.art-col
{
	grid-column: 1;
}

.music-col
{
	grid-column: 2;
}

header h1
{
	color: var(--title-text);
	font-size: 4em;
	line-height: 0px;
}

hr
{
    border: 0;
    height: 3px;
    border-radius: 5px;
    width: var(--container-width);
    max-width: 100%;
    background: #333;
    margin: 10px auto;
    background-image: linear-gradient(90deg,rgb(70, 100, 70), rgb(133, 148, 88), rgb(70, 100, 70));
}

header hr 
{
    background-image: linear-gradient(90deg,rgb(70, 100, 70), rgb(191, 219, 114), rgb(70, 100, 70));
}

.centerbox
{
	margin: 25px auto;
	text-align: center;
    height: auto;
	width: 250px;
}

.centerbox span, a:link, span
{
	color: var(--secondary-text);
}

.leftalign 
{
	text-align: left;
}

.leftalign a {
	display: inline;
}

.leftalign a:after 
{
	white-space: pre;
	content:'\a';
}

.main_content
{
    margin: 20px 0;
    grid-row: 2;
    justify-self: center;
	text-align: center;
	width: var(--container-width);
    max-width: 100%;
}

.small
{
	font-size: smaller;
}

a:visited
{
	color: var(--links-visited);
}

a:active
{
	color: var(--links-active);
}

a:hover
{
	color: var(--links-hover);
}

body
{
	background-color: black;
	background-image: url('/assets/images/site/animatedstars.gif');
	color: var(--main-text);
	font-family: Courier, Arial;
	text-align: center;
}

h4, h5
{
	color: var(--headers-text);
}

h1
{
    color: #e4fe6c;
    font-size: 4em;
    line-height: 0px;
}

ul 
{
    text-align: left;
    list-style-image: url('/assets/images/star-empty2.gif');
}

li
{
	color: var(--headers-text);
}

nav
{
	margin-bottom: 10px;
}

.gold
{
	color: gold;
}

.hotpink
{
	color: hotpink;
}
