/*collapsible.js styling*/
.collapsible {
    color: HotPink;
    text-decoration: underline;
    user-select: none;
}
.collapsible:hover {
    color: Gold;
}
.collapsible:active {
    color: IndianRed;
}
.collapse_content {
    display: none;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px dashed;
    border-radius: 10px;
}

.collapse_content > ul, .collapse_content > h4
{
    margin: 0;
}
